{% extends 'base.html' %}
{% block content  %}
{% load static %}
        <!-- Breadcrumbs Area Start -->

        <div class="breadcrumbs-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb-single">
                            <ul class="breadcrumbs">
                                <li><a href="{% url 'home' %}" title="Return to Home">
                                    Home
                                </a></li>
                                <li>
                                    <span>></span>
                                </li>
                                <li style="color:white;">COLLECTION</li>
                                <li>
                                    <span>></span>
                                </li>
                                <li style="color:#fedd49;">{{ function_name }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Shop Page Area Start -->
        <div class="shop-page-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="shop-widget">
                            <aside class="widget widget-categories">
                                <h2 class="sidebar-title">CATEGORY</h2>
                                <ul class="sidebar-menu">
                                    <li>
                                        <a href="{% url 'necklace' %}">
                                            Necklaces
                                            <span>({{ neckcnt }})</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'bracelets' %}">
                                           Bracelets & Kadas/Karas
                                            <span>({{ braccnt }})</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'earings' %}">
                                            Earrings
                                            <span>({{ earcnt }})</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'start99' %}">
                                            Start @99
                                            <span>({{ start99cnt }})</span>
                                        </a>
                                    </li>
                                </ul>
                            </aside>




                            <aside class="widget widget-shop-by" >
                                <h3>Sort by</h3>
                                {% if function_name == "rings"  %}
									<a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'rings' 'low-to-high' %}">low to high</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'rings' 'high-to-low' %}">high to low</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'rings' 'new-arrival' %}">new arrival</a>
								{% elif function_name == "necklace" %}
								    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'necklace' 'low-to-high' %}">low to high</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'necklace' 'high-to-low' %}">high to low</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'necklace' 'new-arrival' %}">new arrival</a>
								{% elif function_name == "bracelets" %}
								    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'bracelets' 'low-to-high' %}">low to high</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'bracelets' 'high-to-low' %}">high to low</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'bracelets' 'new-arrival' %}">new arrival</a>
								{% elif function_name == "earings" %}
							        <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'earings' 'low-to-high' %}">low to high</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'earings' 'high-to-low' %}">high to low</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'earings' 'new-arrival' %}">new arrival</a>
								{% elif function_name == "jewellery" %}
								    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'jewellary' 'low-to-high' %}">low to high</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'jewellary' 'high-to-low' %}">high to low</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'jewellary' 'new-arrival' %}">new arrival</a>
								{% elif function_name == "start99" %}
								    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'start99' 'low-to-high' %}">low to high</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'start99' 'high-to-low' %}">high to low</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'start99' 'new-arrival' %}">new arrival</a>
								{% elif function_name == "newcollection" %}
								    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'newcollection' 'low-to-high' %}">low to high</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'newcollection' 'high-to-low' %}">high to low</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'newcollection' 'new-arrival' %}">new arrival</a>
								{% endif %}

                             </aside>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="shop-right-area">
                            <div class="shop-tab-list">
                                <div class="shop-left-tab">
                                    <div class="shop-tab-pill pull-left">
                                        <ul>
                                            <li class="active" id="left"><a data-toggle="pill" href="#home"><i class="fa fa-th"></i><span></span></a></li>
                                            <!--<li><a data-toggle="pill" href="#menu1"><i class="fa fa-th-list"></i><span></span></a></li>-->
                                        </ul>
                                    </div>
                                </div>
                                <div class="shop-tab-pill pull-right">
                                    {% if page_obj.has_other_pages %}
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                        <li class="page-item">
                                        {% if page_obj.has_previous %}
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        </a>
                                        {% endif %}
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                                        <li class="page-item">
                                        {% if page_obj.has_next %}
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        </a>
                                        {% endif %}
                                        </li>
                                        </ul>
                                        </nav>
                                        {% endif %}

                                </div>
                            </div>
                            <div class="tab-content">
				                <div class="row tab-pane fade in active" id="home">
                                   <div class="shop-single-product-area ">

                                       {% for i in page_obj %}
                                      

                                       <div class="col-md-4 col-sm-6">
                                           <div class="single-product">
                                              <a href="{% url 'singleproduct' i.type i.id %}">

                                                   <img src="{{ i.image.url }}" alt="">
                                               </a>

                                               <div class="single-product-content">
                                                  <div class="left-content pull-left">
                                                      <a href="#"><h2>{{ i.summary }}</h2></a>
                                                       <span class="new-price"><i class="fa fa-inr" aria-hidden="true"></i>{{ i.price }}</span>
                                                  </div>

                                               </div>
                                           </div>
                                       </div>


                                       {% endfor %}


                                   </div>
                                </div>
                            </div>
                            <div class="shop-tab-list no-margin">
                                <div class="shop-left-tab">
                                    <div class="shop-tab-pill pull-left">
                                        <ul>
                                            <li class="active first-margin"><a data-toggle="pill" href="#home"><i class="fa fa-th"></i><span></span></a></li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="shop-tab-pill pull-right">
                                    {% if page_obj.has_other_pages %}
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                        <li class="page-item">
                                        {% if page_obj.has_previous %}
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        </a>
                                        {% endif %}
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                                        <li class="page-item">
                                        {% if page_obj.has_next %}
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        </a>
                                        {% endif %}
                                        </li>
                                        </ul>
                                        </nav>
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

	{% endblock %}
