{% extends 'base.html' %}
{% block content  %}
{% load static %}
        <!-- Breadcrumbs Area Start -->

        <div class="breadcrumbs-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb-single">
                            <ul class="breadcrumbs">
                                <li><a href="{% url 'home' %}" title="Return to Home">
                                    Home
                                </a></li>
                                <li>
                                    <span>></span>
                                </li>
                                <li style="color:white;">COLLECTION</li>
                                <li>
                                    <span>></span>
                                </li>
                                <li style="color:#fedd49;">{{ function_name }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumbs Area End -->
                <!--Breadcrumbs Area Start -->
        <!-- <div class="breadcrumbs-area2">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>SHOP LEFT SIDEBAR</h2>
					</div>
				</div>
			</div>
		</div> -->
        <!-- Breadcrumbs Area End -->
        <!-- Shop Page Area Start -->
        <div class="shop-page-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="shop-widget">
                            <aside class="widget widget-categories">
                                <h2 class="sidebar-title">CATEGORY</h2>
                                <ul class="sidebar-menu">
                                    <li>
                                        <a href="{% url 'necklace' %}">
                                            Necklaces
                                            <span>({{ neckcnt }})</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'bracelets' %}">
                                           Bracelets & Kadas/Karas
                                            <span>({{ braccnt }})</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'earings' %}">
                                            Earrings
                                            <span>({{ earcnt }})</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'start99' %}">
                                            Start @99
                                            <span>({{ start99cnt }})</span>
                                        </a>
                                    </li>
                                </ul>
                            </aside>


                            <!-- <aside class="widget widget-shop-by">
                                <h2 class="sidebar-title">SHOP BY</h2>
                                <h3 class="sidebar-sub-title">Manufacture</h3>
                                <ul class="sidebar-menu">
                                    <li>
                                        <a href="#">
                                            <span class="widget-hover">Rings</span>
                                            <span>(20)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="widget-hover">Necklaces</span>
                                            <span>(26)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="widget-hover">Bracelets</span>
                                            <span>(15)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="widget-hover">Earrings</span>
                                            <span>(22)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="widget-hover">Churies</span>
                                            <span>(26)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="widget-hover">Jewelry Sets</span>
                                            <span>(36)</span>
                                        </a>
                                    </li>
                                </ul>
                            </aside> -->

                              <!-- <aside class="widget widget-shop-by">
                              <h3 class="sidebar-sub-title">Price</h3>
                              <div class="info-widget">
                                <div class="price_filter">
                                  <div id="slider-range"></div>
                                  <div class="price_slider_amount">
                                    <input type="text" id="amount" name="price"  placeholder="Add Your Price" />
                                    <input type="submit"  value="SEARCH"/>
                                  </div>
                                </div>
                              </div>
                            </aside> -->
                            <!-- <aside class="widget widget-shop-by">
                                <h3 class="sidebar-sub-title">Color</h3>
                                <ul class="sidebar-menu">
                                    <li>
                                        <a href="#">
                                            <span class="widget-hover">White</span>
                                            <span>(21)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="widget-hover">Black</span>
                                            <span>(5)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="widget-hover">Blue</span>
                                            <span>(10)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="widget-hover">Red</span>
                                            <span>(14)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="widget-hover">Green</span>
                                            <span>(20)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="widget-hover">Gray</span>
                                            <span>(6)</span>
                                        </a>
                                    </li>
                                </ul>
                            </aside> -->
                            <!-- <aside class="widget widget-populer-tag">
                                <h2 class="sidebar-title">POPULAR TAG</h2>
                                <ul class="tag-list">
                                    <li><a href="#">Fashion</a></li>
                                    <li><a href="#">Women’s</a></li>
                                    <li><a href="#">Kids</a></li>
                                    <li><a href="#">Lookbook</a></li>
                                    <li><a href="#">Accessories</a></li>
                                    <li><a href="#">Dress</a></li>
                                    <li><a href="#">Sale Off</a></li>
                                    <li><a href="#">Accessories</a></li>
                                    <li><a href="#">Clothing</a></li>
                                    <li><a href="#">Clothing</a></li>
                                    <li><a href="#">men’s</a></li>
                                    <li><a href="#">Carry bag</a></li>
                                </ul>
                            </aside>
                            <aside class="widget widget-compare">
                                <h2 class="sidebar-title">COMPARE</h2>
                                <ul class="side-bar-compare">
                                    <li>
                                        Product Name #01
                                        <a href="#"><span><i class="fa fa-times"></i></span></a>
                                    </li>
                                    <li>
                                        Product Name #02
                                        <a href="#"><i class="fa fa-times"></i></a>
                                    </li>
                                </ul>
                            </aside>
                            <aside class="widget widget-image">
                               <a href="#">
                                   <img src="https://d29u17ylf1ylz9.cloudfront.net/taj-preview/taj/img/shop/side-bar.jpg" alt="">
                               </a>
                                <div class="widget-content">
                                    <h2>Friday Sale <br>Extra <br>30% Off</h2>
                                    <a href="#">Shop Now <i class="fa fa-angle-right"></i> </a>
                                </div>
                            </aside> -->

                            <aside class="widget widget-shop-by" >
                                <h3>Sort by</h3>
                                {% if function_name == "rings"  %}
									<a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'rings' 'low-to-high' %}">low to high</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'rings' 'high-to-low' %}">high to low</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'rings' 'new-arrival' %}">new arrival</a>
								{% elif function_name == "necklace" %}
								    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'necklace' 'low-to-high' %}">low to high</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'necklace' 'high-to-low' %}">high to low</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'necklace' 'new-arrival' %}">new arrival</a>
								{% elif function_name == "bracelets" %}
								    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'bracelets' 'low-to-high' %}">low to high</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'bracelets' 'high-to-low' %}">high to low</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'bracelets' 'new-arrival' %}">new arrival</a>
								{% elif function_name == "earings" %}
							        <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'earings' 'low-to-high' %}">low to high</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'earings' 'high-to-low' %}">high to low</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'earings' 'new-arrival' %}">new arrival</a>
								{% elif function_name == "jewellery" %}
								    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'jewellary' 'low-to-high' %}">low to high</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'jewellary' 'high-to-low' %}">high to low</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'jewellary' 'new-arrival' %}">new arrival</a>
								{% elif function_name == "start99" %}
								    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'start99' 'low-to-high' %}">low to high</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'start99' 'high-to-low' %}">high to low</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'start99' 'new-arrival' %}">new arrival</a>
								{% elif function_name == "newcollection" %}
								    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'newcollection' 'low-to-high' %}">low to high</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'newcollection' 'high-to-low' %}">high to low</a>
                                    <a style="background: white;padding: 10px;border-radius: 5px;display: block;margin:5px;text-align:center;" href="{% url 'sortby' 'newcollection' 'new-arrival' %}">new arrival</a>
								{% endif %}

                             </aside>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="shop-right-area">
                            <div class="shop-tab-list">
                                <div class="shop-left-tab">
                                    <div class="shop-tab-pill pull-left">
                                        <ul>
                                            <li class="active" id="left"><a data-toggle="pill" href="#home"><i class="fa fa-th"></i><span></span></a></li>
                                            <!--<li><a data-toggle="pill" href="#menu1"><i class="fa fa-th-list"></i><span></span></a></li>-->
                                        </ul>
                                    </div>
                                </div>
                                <div class="shop-tab-pill pull-right">
                                    {% if page_obj.has_other_pages %}
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                        <li class="page-item">
                                        {% if page_obj.has_previous %}
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        </a>
                                        {% endif %}
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                                        <li class="page-item">
                                        {% if page_obj.has_next %}
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        </a>
                                        {% endif %}
                                        </li>
                                        </ul>
                                        </nav>
                                        {% endif %}

                                </div>
                            </div>
                            <div class="tab-content">
				                <div class="row tab-pane fade in active" id="home">
                                   <div class="shop-single-product-area ">

                                       {% for i in page_obj %}
                                       <!--{% if forloop.counter|divisibleby:"3" %}-->
                                       <!-- <div class="row">-->
                                       <!--  {% endif %}-->

                                       <div class="col-md-4 col-sm-6">
                                           <div class="single-product">
                                              <a href="{% url 'singleproduct' i.type i.id %}">

                                                   <img src="{{ i.image.url }}" alt="">
                                               </a>
                                               <!--<div class="single-product-overlay sale">
                                                   <h3>sale</h3>
                                                   <h4>{{i.id}}</h4>
                                               </div>-->
                                               <div class="single-product-content">
                                                  <div class="left-content pull-left">
                                                      <a href="#"><h2>{{ i.summary }}</h2></a>
                                                       <span class="new-price"><i class="fa fa-inr" aria-hidden="true"></i>{{ i.price }}</span>
                                                  </div>
                                                  <!--<div class="right-content pull-right">
                                                      <a href="#"><i class="flaticon-bag"></i></a>
                                                  </div>-->
                                               </div>
                                           </div>
                                       </div>
                                       <!--{% if forloop.counter|divisibleby:"3" %}-->
                                       <!--     </div>-->
                                       <!--  {% endif %}-->

                                       {% endfor %}


                                   </div>
                                </div>
                            </div>
                            <div class="shop-tab-list no-margin">
                                <div class="shop-left-tab">
                                    <div class="shop-tab-pill pull-left">
                                        <ul>
                                            <li class="active first-margin"><a data-toggle="pill" href="#home"><i class="fa fa-th"></i><span></span></a></li>
                                        </ul>
                                    </div>
                                   <!-- <div class="shop-tab-pill pull-right">
                                        <ul>
                                            <li class="product-size-deatils">
                                                <div class="show-label">
                                                    <label>Sort by : </label>
                                                    <select>
                                                        <option value="position" selected="selected">Position</option>
                                                        <option value="Name">Name</option>
                                                        <option value="Price">Price</option>
                                                    </select>
                                                </div>
                                            </li>
                                            <li class="product-size-deatils">
                                                <div class="show-label">
                                                    <label>Show : </label>
                                                    <select>
                                                        <option value="10" selected="selected">10</option>
                                                        <option value="09">09</option>
                                                        <option value="08">08</option>
                                                        <option value="07">07</option>
                                                        <option value="06">06</option>
                                                    </select>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>-->

                                </div>
                                <div class="shop-tab-pill pull-right">
                                    {% if page_obj.has_other_pages %}
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                        <li class="page-item">
                                        {% if page_obj.has_previous %}
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        </a>
                                        {% endif %}
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                                        <li class="page-item">
                                        {% if page_obj.has_next %}
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        </a>
                                        {% endif %}
                                        </li>
                                        </ul>
                                        </nav>
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Page Area End -->
        <!-- Shop Page Area End -->
        <!-- Brand Area Start -->
        <!-- <div class="brand-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>OUR BRANDS</h2>
                    </div>
                    <div class="brand-list indicator-style2">
                        <div class="col-md-12">
                            <div class="single-brand">
                                <a href="#">
                                    <img src="https://d29u17ylf1ylz9.cloudfront.net/taj-preview/taj/img/brand/1.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-brand">
                                <a href="#">
                                    <img src="https://d29u17ylf1ylz9.cloudfront.net/taj-preview/taj/img/brand/2.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-brand">
                                <a href="#">
                                    <img src="https://d29u17ylf1ylz9.cloudfront.net/taj-preview/taj/img/brand/3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-brand">
                                <a href="#">
                                    <img src="https://d29u17ylf1ylz9.cloudfront.net/taj-preview/taj/img/brand/4.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-brand">
                                <a href="#">
                                    <img src="https://d29u17ylf1ylz9.cloudfront.net/taj-preview/taj/img/brand/5.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-brand">
                                <a href="#">
                                    <img src="https://d29u17ylf1ylz9.cloudfront.net/taj-preview/taj/img/brand/1.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-brand">
                                <a href="#">
                                    <img src="https://d29u17ylf1ylz9.cloudfront.net/taj-preview/taj/img/brand/2.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-brand">
                                <a href="#">
                                    <img src="https://d29u17ylf1ylz9.cloudfront.net/taj-preview/taj/img/brand/3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Brand Area End -->
        <!-- Footer Area Start -->

        <!-- Footer Area End -->
        <!-- Footer Bottom Area -->

        <!-- Footer Bottom End -->
		<!-- all js here -->
	{% endblock %}
